@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";


.c-font{
    
    font-family: cursive;
}

.co-img{
    width: 270px;
    height: 270px;
    background-image: url(../src/assets/abhi.png);
    border-radius: 50%;
    /* border: 5px solid black; */
    background-size: 250px;
    background-repeat: no-repeat;
    background-position: 17px;
    box-shadow: 0px 0px 1px rgb(109, 109, 109);
}

.shadow-lg:hover{
    box-shadow: 1px 1px 9px blue;
}